*{
    margin:0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #1f1f1f;
}
p{
    font-weight: 300;
    font-size: 16px;
}
.container{
    width: 70%;
    margin:40px auto 30px auto;
    text-align: center;
    border-radius: 20px;
    background-color:#292929;
    padding-bottom: 20px;
    color: #ceceb1;
}
#name{
    font-family: 'Source Code Pro', monospace;
    color: #ceceb1;
    background-color:#292929;
}
.profile{
    margin-top: 40px;
    margin-bottom: 20px;
    width:200px;
    height: auto;
    border:4px solid #7d7d6a;
    border-radius: 50%;
}
.intro{
    margin: 10px;
}
.contact{
    margin: 10px;
    display: inline-block;
    font-size:25px;
}
.contact i{
    margin:3px;
}
a {
    color: #7d7d6a;
    text-decoration: none;
}
a:hover {
    color: #ceceb1;
}
hr{
    border: 2px solid #1f1f1f;
}
header{
    margin: 40px 0 20px 0;
}
.part{
    display: flex;
}
.left, .hobby{
    padding: 40px 0 40px 0;
    display: flex;
    width: 20%;
    border-right: 4px solid #1f1f1f;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.left i, .hobby i{
    font-size:50px;
}
.left p, .hobby p{
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
    font-weight: 500;
}
.middle{
    padding: 40px 0 40px 0;
    display: block;
    width: 20%;
}
.middle p{
    font-weight: 500;
}
.right{
    padding: 40px 20px 40px 0;
    display: block;
    width: 55%;
}
.right p{
    padding-left: 20px;
    text-align: left;
    font-weight: 300;
}
.middle-c{
    padding: 40px 0 40px 0;
    display: block;
    width: 39%;
    border-right: 4px solid #1f1f1f;
}
.right-c{
    padding: 40px 0 40px 0;
    display: block;
    width: 40%;
}
.middle-c table, .right-c table{
    margin: auto ;
    border-spacing: 20px;
}
th{
    text-align: right;
}
.hobby{
    width:19.6%;
}
.hobby-last{
    width:19.6%;
    border-right: none;
}
footer p{
    margin-top: 20px;
    font-weight: 500;
}
.mobile{
    text-align: center;
    display: none;
    color: #ceceb1;
    padding:10px 20px;
    background-color:#292929;
}
@media screen and (max-width: 1010px)
{
    .mobile{
        display:block;
    }
    .container{
        width:100%;
    }
}
